@model mvcapppojisteniverze02.Models.Produkt

@{
    ViewData["Title"] = "Nový produkt";
}

<br />
<p class="h3 p-3 bg-secondary bg-opacity-10 border border-dark rounded shadow">Nový produkt</p>
<hr />

<div class="container bg-warning bg-opacity-25 shadow-sm">
    <br />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-4">
                <strong> <label asp-for="Nazev" class="control-label"></label></strong>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong><label asp-for="Popis" class="control-label"></label></strong>
                <input asp-for="Popis" class="form-control" />
                <span asp-validation-for="Popis" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group text-center">
            <input type="submit" value="Uložit" class="btn btn-primary" />
        </div>
    </form>
    <br />
</div>

<hr />
<div>
    <a class="accordion-button btn btn-info text-dark shadow-sm" style="height: 30px;" asp-action="Index">Zpátky na seznam produktů</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
