@model mvcapppojisteniverze02.Models.Produkt

@{
    ViewData["Title"] = "Odstranit produkt";
}

<br />
<p class="h3 p-3 bg-secondary bg-opacity-10 border border-dark rounded shadow">Odstranit produkt</p>
<hr />

<div class="container bg-warning bg-opacity-25 shadow-sm">
    <br />
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProduktID" />
        <div class="text-center">
            <input type="submit" value="Odstranit" class="btn btn-danger" />
        </div>
    </form>
    <br />
</div>
<hr />

<div>
    <a class="accordion-button btn btn-info text-dark shadow-sm" style="height: 30px;" asp-action="Index">Zpátky na seznam produktů</a>
</div>



