@model mvcapppojisteniverze02.Models.Produkt

@{
    ViewData["Title"] = "Odstranit produkt";
}

<br />
<p class="h3">Odstranit produkt</p>
<hr />

<div>
    <dl class="row">
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
        <dt class="col-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class="col-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProduktID" />
        <div class="text-center">
            <input type="submit" value="Odstranit" class="btn btn-danger" />
        </div>
        <hr />
        <br />
        <div>
            <a class="accordion-button btn btn-info text-dark" style="height: 30px;" asp-action="Index">Zpátky na seznam produktů</a>
        </div>
    </form>
</div>

