@model mvcapppojisteniverze02.Models.ZaznamPojisteni

@{
    ViewData["Title"] = "Vytvořit pojištění";
}

<br />
<div class="h3 p-3 bg-secondary bg-opacity-10 border border-dark rounded shadow">
    Přidat pojištění
</div>
<br />
<div class="lead">
    <div class="d-block p-2 bg-success bg-opacity-10 shadow-sm">
        klient @ViewBag.konkretniKlient.Jmeno @ViewBag.konkretniKlient.Prijmeni
    </div>
</div>

<hr />

<div class="container bg-warning bg-opacity-25 shadow-sm">
    <br />
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <strong><label asp-for="ProduktID" class="control-label"></label></strong>
                    <select asp-for="ProduktID" class="form-control form-select" asp-items="ViewBag.ProduktID"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="form-group">
                    <strong><label asp-for="Cena" class="control-label"></label></strong>
                    <input asp-for="Cena" class="form-control" />
                    <span asp-validation-for="Cena" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <strong><label asp-for="ZacatekPojisteni" class="control-label"></label></strong>
                    <input asp-for="ZacatekPojisteni" class="form-control" />
                    <span asp-validation-for="ZacatekPojisteni" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <strong><label asp-for="KonecPojisteni" class="control-label"></label></strong>
                    <input asp-for="KonecPojisteni" class="form-control" />
                    <span asp-validation-for="KonecPojisteni" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-group text-center">
            <input type="submit" value="Uložit" class="btn btn-primary" />
        </div>
    </form>
    <br />
</div>

<hr />
<div>
    <a class="accordion-button btn btn-info text-dark shadow-sm" style="height: 30px;" asp-controller="Klients" asp-action="Details" asp-route-id="@ViewBag.konkretniKlient.ID">Zpátky na detail klienta</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
