

@{
    ViewData["Title"] = "Domu";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col-md-2">
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mt-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto lead">
                    Webová aplikace Správa pojištění
                </p>
                <p class="small text-muted">
                    projekt ke zkoušce
                </p>
                <br />
                <p>
                    Zdroj informací čerpaných při vývoji:
                </p>
                <ul>
                    <li>IT Network</li>
                    <li>dokumentace Microsoft k ASP.NET Core MVC</li>
                    <li>stackoverflow.com</li>
                    <li>bobtabor.com</li>
                    <li>getbootstrap.com</li>
                </ul>
                <p>
                    Použitý software a technologie:
                </p>
                <ul>
                    <li>Visual Studio 2022</li>
                    <li>C#, OOP</li>
                    <li>ASP.NET Core MVC</li>
                    <li>Entity Framework Core 6.0</li>
                    <li>.NET 6.0</li>
                    <li>HTML</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                </p>
            </div>
        </div>
    </div>*@
</div>