

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    Aplikace Pojišťovna Skrblík je jednoduchá webová aplikace na demonstraci programovacího umění pana programátora Martina Káry.
                    Používá technologii mozku, ASP.NET Core MVC a Entity Frameworku.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Tvrdou dřinou a učením všeho jsem se dostal až jsem, do bodu psaní webu! :-)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    Celá tahle paráda slouží jako studijní úkol k závěrečné zkoušce a zároveň poslouží jako výcvikový projekt pro další tvorbu webových aplikací
                </p>
            </div>
        </div>
    </div>
</div>